body {
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.emailContainer {
  background-color: #ffffff;
  color: #333333;
}

.inputDisplay {
  background-color: #ffffff;
  color: #333333;
}

input,
select {
  background-color: #f0f0f0;
  color: #333333;
}