.emailContainer {
	margin-top: 60px;
	overflow: auto-enabled;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
	padding: 40px;
	border-radius: 15px;
	text-align: left;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	width:80%;
	max-width:none;
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	align-items: center;
	justify-items: center;

	
	
}

.inputDisplay {
	position: absolute;
	top: 40%;
	left: 65%;
	background-color: transparent;
	padding: 4px;
	text-align: center;
	position: fixed;
	transform: translate(-50%, -50%);
	font-family: 'Montserrat', sans-serif;
	width: auto;
	max-width: none;
	margin: 20px;
	
	
}

form {
	margin-top: 20px;
  }

  form:last-of-type {
	margin-top: 270px;
  }

.formRow {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;

}
  
.formColumn {
    flex: 1;
	margin: 0 10px;
	flex-basis: calc(50% - 20px);
}
  
.formColumn:last-child {
    margin-right: 0;
}

.formColumn:first-child {
	margin-bottom: 10px;
  }

@media (max-width: 600px) {
	.emailContainer,
	.inputDisplay {
	  width: auto;
	  max-width: none;
	  padding: 10px;
	}
}

  