.emailContainer {
    margin-top: 60px;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
    padding: 45px;
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width:80%;
    max-width:800px;
}

.inputDisplay {
    position: absolute;
    top: 95%;
    right: 40px;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.formRow {
    flex-basis: 100%;
}
  
.formColumn {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 20px);
    margin: 0 10px;
}

.formColumn label {
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .emailContainer,
    .inputDisplay {
      width: 80%;
      max-width: none;
      padding: 10px;
    }
}

@media (max-width : 800px) {
    .emailContainer,
    .inputDisplay {
       width :100% ;
       
    }
 }