body {
    height: 100vh;
    margin: 85px;
    padding: 80px;
}

.emailContainer {
    margin-top: 60px;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
    padding: 60px;
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    max-width:1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDisplay {
    background-color: #FFFFFF;
    padding: 20px;
    margin-left: 20px;
    border-radius: 15px;
}

  
form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px !important;

}

form p {
    margin-top: 20px;
  }
  

.formRow {
    flex-basis: 100%;
}
  
.formColumn {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
}

.formColumn label {
    margin-bottom: 10px;
}
  
  
@media (min-width: 600px) {
    .emailContainer,
    .inputDisplay {
      width: 100%;
      max-width: none;
      padding: 10px;
    }
}

@media (max-width : 800px) {
    .emailContainer,
    .inputDisplay {
       width : 100%;
       max-width: none;
       padding: 10px;
       
    }
}
