body {
    height: 100vh;
    margin: 85px;
    padding: 80px;
    position: absolute;
}

.emailContainer {
    margin-top: 2%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    max-width:1500px;
    display: flex;
    flex-direction: column;
    
    
    
}

.inputDisplay {
    background-color: #FFFFFF00;
    margin-left: -2%;
    border-radius: 15px;
    width: 100%
}

  
form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;

}

.formRow {
    flex-basis: 100%;
}
  
.formColumn {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
    
}

.formColumn label {
    margin-bottom: 10px;
}

.submitButtonContainer {
    text-align: center;
    margin-top: 20px;
}
  
.submitButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
  
.submitButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
    
  }
  
.heading {
    text-align: center;
 
}


@media (min-width: 600px) {
    .emailContainer,
    .inputDisplay {
      width: 100%;
      max-width: none;
      padding: 10px;
    }
    .form label {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width : 800px) {
    .emailContainer,
    .inputDisplay {
       width : 100%;
       max-width: none;
       padding: 10px;
       
    }
}
