body {
    height: 100vh;
}

.emailContainer {
    margin-top: 60px;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
    padding: 40px;
    border-radius: 15px;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    width:80%;
    max-width:800px;
}

.inputDisplay {
    position: absolute;
    top: 40%;
    left: 65%;
    background-color: transparent;
    padding: 4px;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.formRow {
    flex-basis: 100%;
}
  
.formColumn {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 20px);
    margin: 0 10px;
}

.formColumn label {
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .emailContainer,
    .inputDisplay {
      width: 80%;
      max-width: none;
      padding: 10px;
    }
}

@media (max-width : 800px) {
    .emailContainer,
    .inputDisplay {
       width :100% ;
       
    }
}