body {
    height: 100vh;
    margin: 85px;
    padding: 80px;
}

.emailContainer {
    margin-top: 35%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(153, 153, 153, 0.3);
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    max-width:1500px;
    display: flex;
    flex-direction: column;
    position:left;
    top: 0;
    left: 0;
    
    
}

.inputDisplay {
    background-color: #FFFFFF00;
    margin-left: 5px;
    border-radius: 15px;
}

  
form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
   

}
  

.formRow {
    flex-basis: 100%;
    justify-content: space-between;
    width: 100%;
}
  
.formColumn {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    margin: 0 10px;
    
}

.formColumn label {
    margin-bottom: 10px;
}

  
@media (min-width: 600px) {
    .emailContainer,
    .inputDisplay {
      width: 100%;
      max-width: none;
      padding: 10px;
    }
    .form label {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width : 800px) {
    .emailContainer,
    .inputDisplay {
       width : 100%;
       max-width: none;
       padding: 10px;
       
    }
}
